<section id="profile">
  <div class="container">

    <div class="row">

      <div class="col-md-4">
        <div *ngIf="data.user" class="card mb-3">

          <div class="card-img-top">
            <div class="avacontainer" [style.backgroundImage]="'url('+ data.user.picture +')'">
              <img [src]="data.user.picture" class="rounded-circle image userimage">
              <div class="baseavaoverlay">
              </div>
              <div class="avaoverlay">
                <div class="uploader">
                  <label>
                    <img class="camera" src="assets/img/camera.png">
                    <input type="file" (change)="fileChange($event)" style="display: none;" accept=".png,.jpg,.jpeg">
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="user-info">
              <h5 class="card-title">{{ data.user.login }}</h5>
            </div>
            <hr>
            <div *ngIf="data.user.first_name">
              <div class="user-info">Имя: {{ data.user.first_name }}</div>
              <hr>
            </div>
            <div *ngIf="data.user.last_name">
              <div class="user-info">Фамилия: {{ data.user.last_name }}</div>
              <hr>
            </div>
            <div class="user-info">E-mail: {{ data.user.email }}</div>
            <hr>
            <div *ngIf="data.user.phone">
              <div class="user-info">Телефон: +{{ data.user.phone }}</div>
              <hr>
            </div>


            <ul>
              <li [class.selected]="isTabSet(1)" (click)="setTab(1)" routerLink="orders">
                Мои заказы
              </li>
              <li [class.selected]="isTabSet(2)" (click)="setTab(2)" routerLink="settings">
                Настройки профиля
              </li>
              <li [class.selected]="isTabSet(3)" (click)="setTab(3)" routerLink="security">
                Настройки безопасности
              </li>
              <li [class.selected]="isTabSet(4)" (click)="setTab(4)" routerLink="address">
                Адрес доставки
              </li>
              <li *ngIf="data.user.isSeller" [class.selected]="isTabSet(5)" (click)="setTab(5)" routerLink="stores">
                Мои магазины
              </li>
              <li [class.selected]="isTabSet(6)" (click)="setTab(6)" routerLink="purchases">
                Мои совместные закупки
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div *ngIf="data.user" class="card" style="width: 100%">
          <div class="card-body">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
