<div class="modal-header">
  <h4 class="modal-title">Вход</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
    <div class="input-group login">
      <input
        type="text"
        name="email"
        class="form-control text-modal"
        [(ngModel)]="email" placeholder="Введите Ваш Email"
      >
    </div>
</div>

<div class="modal-footer">

  <button
    type="submit"
    class="btn btn-main"
    (click)="resetPassword()"
  >Сбросить пароль</button>
</div>
