<div class="dropdown" (clickOutside)="hideMenu()">
  <div
    class="custom-select"
    [ngClass]="readonly ? 'custom-select-readonly': '' "
    (click)="toggleMenu()"
  >{{selected_member['login']}}</div>
  <div class="dropdown-content" *ngIf="menu_visible">
    <div class="list-group list-group-scrollable">
      <div
        class="list-group-item select-item"
        *ngFor="let member of members"
        (click)="selectMember(member)"
      >
      {{member.visible_name}} - {{member.login}}
      </div>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <div class="form-group">
          <label for="new_member">ФИО</label>
          <div class="input-group">
            <input
              [(ngModel)]="new_member_visible_name"
              id="new_member_visible_name"
              type="text"
              class="form-control text-modal">
          </div>
          <label for="new_member">Логин</label>
          <div class="input-group">
            <input
              [(ngModel)]="new_member_login"
              id="new_member"
              type="text"
              class="form-control text-modal">
          </div>
          <label for="new_member">Пароль</label>
          <div class="input-group">
            <input
              [(ngModel)]="new_member_passwd"
              id="new_member_passwd"
              type="text"
              class="form-control text-modal">
            <div class="input-group-append">
              <button
                type="button"
                class="btn btn-primary"
                (click)="addNewMember()"
              >
                Добавить
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
