<div class="modal-header">
  <h4 class="modal-title">Регистрация</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form
    [formGroup]="form"
    novalidate
  >
    <div class="form-group">
      <label class="form-control-label" for="login">Логин</label>
      <input
        type="text"
        id="login"
        name="login"
        class="form-control"
        [ngClass]="login.errors ? 'is-invalid': 'is-valid'"
        formControlName="login"
        required
      >
      <div class="invalid-feedback" [hidden]="!(login.errors && login.errors.required)">
        Введите логин
      </div>
    </div>
    <div class="form-group" formGroupName="passwords">
      <label class="form-control-label" for="password">Пароль</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        [ngClass]="password.errors ? 'is-invalid': 'is-valid'"
        formControlName="password"
        required
      >
      <div class="invalid-feedback" [hidden]="!(password.errors && password.errors.required)">
        Введите пароль
      </div>

      <label class="form-control-label" for="passwordConfirmation">Подтвердите пароль</label>
      <input
        type="password"
        id="passwordConfirmation"
        name="passwordConfirmation"
        class="form-control"
        [ngClass]="confirmation.errors || passwordForm.errors ? 'is-invalid': 'is-valid'"
        formControlName="confirmation"
        required
      >
      <div class="invalid-feedback" [hidden]="!(passwordForm.errors && passwordForm.errors.passwordMismatch)">
        Пароли не совпадают
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-main btn-block"
    (click)="register()"
    [disabled]="!form.valid || submitDisabled"
  >Регистрация</button>
</div>
