.text-good {
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  border-radius: 4px 4px 4px 4px;
  padding-bottom: 5px;
  text-indent: 3px;
  height: 31px;
}

.breadcrumb {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}

.breadcrumb > li {
  color: #00b5eb;
}
.breadcrumb > li > a {
  color: #00b5eb;
}

.additional {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  width: 100%;
}

.centered {
  display: flex;
  justify-content: center;
}


.tab01 .nav-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: none;
}

.tab01 .nav-tabs .nav-item {
  margin: 0px 15px;
}

.tab01 .nav-link {
  font-size: 15px;
  color: #888;
  line-height: 1.2;
  padding: 0;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.tab01 .nav-link.active {
  color: #333;
  border-color: #797979;
}

.tab01 .nav-link:hover {
  color: #333;
  border-color: #797979;
}

.p-b-10 {padding-bottom: 10px;}
.p-t-43 {padding-top: 43px;}

.good-img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.base-good-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.good-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  z-index: 2;
}

.good-img-container:hover .good-img-overlay {
  opacity: 0.8;
}

.good-img {
  object-fit: contain;
  margin-left: auto !important;
  margin-right: auto !important;
  max-height: 400px;
}

.camera {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 130px;
  height: 130px;
  object-fit: cover;
  z-index: 2;
}

.comment {
  display: inline-block;
}

.ava {
  vertical-align: top;
  padding-right: 30px;
  display: inline-block;
}

.tabs {
  cursor: pointer;
}

.btn-detach {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background: #E84441;
  border: 1px solid #E42724;
  color: #fff;
  font-family: 'CircleRounded';
  text-align: center;
  padding: 0px 15px;
  border-radius: 4px 4px 4px 4px;
  height: 31px;
}

.btn-edit {
  display: inline-block;
  border: 1px solid #000000;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 0.2rem !important;
  color: #000;
  font-size: 14px !important;
  font-family: 'CircleRounded';
  font-weight: normal !important;
  line-height: normal !important;
  text-align: center;
  padding: 0 8px;
  border-radius: 4px;
  height: auto;
  cursor: pointer;
}

.btn-detach:hover {
  background: #E42724;
  color: #fff;
}

.btn-detach:focus {
  background-color: #E42724;
  color: #fff;
}

.preserve-line-breaks {
  white-space: pre-wrap;
}
