.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  position: absolute;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 10;
}

.custom-select {
  cursor: default;
  user-select: none;
  height: auto;
  min-height: calc(2.25rem + 2px);
}

.custom-select-readonly {
  background-color: #e9ecef;
}
