<div class="modal-header">
  <h4 class="modal-title">Вход</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form
    [formGroup]="form"
    novalidate
  >
    <div class="input-group login">
      <div class="input-group-prepend">
        <span class="input-group-text">+7</span>
      </div>
      <input
        type="text"
        name="phone"
        mask='9999999999'
        class="form-control text-modal"
        placeholder="Телефон"
        [ngClass]="phoneErrors ? 'is-invalid': 'is-valid'"
        formControlName="phone"
        required
      >
      <div class="invalid-feedback d-block" *ngIf="error === 'NO SUCH USER'">
        Пользователя с таким телефоном не существует
      </div>
    </div>
    <div class="form-group">
      <input
        type="password"
        name="password"
        class="form-control text-modal"
        (keyup.enter)="onEnter()"
        placeholder="Пароль"
        [ngClass]="passwordErrors ? 'is-invalid': 'is-valid'"
        formControlName="password"
        required
      >
      <div class="invalid-feedback d-block" *ngIf="error === 'PASSWORD MISMATCH'">
        Неверный пароль
      </div>
    </div>
  </form>
  <a class="blue-link" (click)="openModalRegistration()">Регистрация</a> | <a class="blue-link" (click)="openModalReset()">Забыли пароль?</a><br/>
</div>

<div class="modal-footer">

  <button
    type="submit"
    class="btn btn-main"
    (click)="login()"
    [disabled]="!form.valid || submitDisabled"
  >Войти</button>
</div>
