<div *ngIf="currentSettings" class="container settingspos">
    <h4>Настройки профиля</h4>
    <div class="form-group">
        <label class="form-control-label">ФИО</label>
        <input type="text" name="first_name" class="form-control text-settings" [(ngModel)]="currentSettings.visible_name">
    </div>
    <div class="form-group">
        <label class="form-control-label">Контакты</label>
        <input type="phone" name="phone" class="form-control text-settings" [(ngModel)]="currentSettings.contacts">
    </div>
    <hr>
    <button type="button" class="btn btn-main" (click)="update()">Обновить</button>
</div>
