.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  position: absolute;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 10;
}

.list-group-scrollable {
  max-height: 200px;
  overflow-y: scroll;
}

.select-item {
  width: 100%;
}

.select-item:hover {
  background-color: rgb(0, 164, 212);
  color: rgb(255, 255, 255);
}

.custom-select-readonly {
  background-color: #e9ecef;
}
