<ngx-spinner
  bdColor="rgba(255,255,255,0.8)"
  size="large"
  color="#00b5eb"
  type="ball-pulse"
  loadingText="Загрузка профиля"
></ngx-spinner>
<div class="profilepos">
  <h4>Мои заказы</h4>
</div>

<div *ngIf="orders.length === 0 && purchaseOrders.length === 0">
  <div class="text-center">
    <h5>У вас еще нет заказов</h5>
    <img height="100px" src="assets/img/box.svg"/>
  </div>
</div>

<ul *ngIf="orders.length !== 0" class="list-group orders-list">
  <li
    class="list-group-item"
    *ngFor="let order of orders"
  >

    <div>
      <div class="img-good">
        <a [routerLink]="['/good', order.good._id]">
          <img [src]="order.good.picture" class="img-image-good">
        </a>
      </div>

      <div class="desc-good">
        <a class="links" [routerLink]="['/good', order.good._id]">
          <h5>{{order.good.name}}</h5>
        </a>
        <p>Количество: {{ order.quantity | fixedFloat: 0 }}</p>
        Цена:
        <div class="price">
          {{order.price * order.quantity}} ₽
        </div>
        <div *ngIf="order.status === 0">
          <p>Статус<span class="badge badge-primary ml-2">продавец обрабатывает заказ</span></p>
        </div>
        <div *ngIf="order.status === 1">
          <p>Статус<span class="badge badge-warning ml-2">товар доставлен</span></p>
          <button
            type="button"
            class="btn btn-main"
            (click)="updateObtainedStatus(order)"
          >Товар получен</button>
        </div>
        <div *ngIf="order.status === 2">
          <p>Статус<span class="badge badge-success ml-2">товар получен</span></p>
        </div>
      </div>
    </div>
  </li>
</ul>

<ul *ngIf="purchaseOrders.length !== 0" class="list-group orders-list">
  <li
    class="list-group-item"
    *ngFor="let order of purchaseOrders; let i = index"
  >

    <div>
      <div class="img-good">
        <a [routerLink]="['/purchase', order.purchase._id]">
          <img [src]="order.purchase.picture" class="img-image-good">
        </a>
      </div>

      <div class="desc-good">
        <a class="links" [routerLink]="['/purchase', order.purchase._id]">
          <h5>{{order.purchase.name}}</h5>
        </a>
        <p class="mb-1">Количество: {{ order.volume }} {{order.unit}}</p>
        <div class="price">
          {{order.price * order.volume | fixedFloat: 2}} ₽
        </div>
        <p class="mb-1">
          <span *ngIf="order.paid" class="badge badge-success"><b>Платеж подтвержден</b></span>
          <span *ngIf="!order.paid" class="badge badge-warning"><b>Платеж ожидает подтверждения организатора</b></span>
        </p>
        <p class="mb-1">
          <span *ngIf="order.sent" class="badge badge-success"><b>Товар выдан организатором</b></span>
          <span *ngIf="!order.sent" class="badge badge-warning"><b>Организатор обрабатывает заказ</b></span>
        </p>
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="deliveryStatus_{{i}}"
            [disabled]="!order.paid"
            [checked]="order.delivered"
            (change)="updateDeliveryStatus(order, $event.target.checked)"
          >
          <label class="custom-control-label" for="deliveryStatus_{{i}}"
          >Товар доставлен</label>
        </div>
      </div>
    </div>
  </li>
</ul>
