@import "../category-chooser-common";

div.internal-node {
  position: relative;
  z-index: 1200;
}

.node-title {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

/* Hide dropdown */

div.internal-node > div.l2r-node-menu {
  display: none;
  position: absolute;
}

div.internal-node > div.r2l-node-menu {
  display: none;
  position: absolute;
}

/* Display the dropdown */

div.internal-node:hover > div.l2r-node-menu {
  display: block;
}

div.internal-node:hover > div.r2l-node-menu {
  display: block;
}
