.text-modal {
  background: #FFFFFF;
  padding-bottom: 5px;
  text-indent: 3px;

}

.text-modal::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dddddd;
  opacity: 1;
  /* Firefox */
}

.text-modal:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dddddd;
}

.login {
  padding-bottom: 5px;
}

.text-modal::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dddddd;
}
